*.iml
*.apk
/.svn
/.git
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
/build
*/build
/captures
.externalNativeBuild
/.idea/
/gradle/wrapper/gradle-wrapper.properties
gradle/
gradlew
gradlew.bat
/RLibrary2
/RLibrary
/apk
*.log
/RTbs
/RJpush
/RJoup
/RJsoup
/RRealm
/RHyphenate
/RBmob
/RAmap
/RNim
