<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angcyo.uiview">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--网络状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!--文件存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!--IMEI权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <!--指纹使用权限-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--        <activity android:name=".base.RCrashActivity">
                    <intent-filter>
                        <action android:name="com.angcyo.crash"/>
                        <category android:name="android.intent.category.DEFAULT"/>
                    </intent-filter>
                </activity>-->

        <!--网络状态监听-->
        <receiver
            android:name=".receiver.NetworkStateReceiver"
            android:label="NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!--&lt;!&ndash;Android7.0 文件权限&ndash;&gt;-->
        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="${PACKAGE_NAME}"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/provider_paths"/>-->
        <!--</provider>-->
    </application>

</manifest>
